/* From Uiverse.io by aryamitra06 */
.loader {
  display: flex;
  align-items: center;
}

.bar {
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  animation: scaleUp4 1s linear infinite;
}

.bar:nth-child(2) {
  height: 20px;
  margin: 0 3px;
  animation-delay: 0.25s;
}

.bar:nth-child(3) {
  animation-delay: 0.5s;
}

@keyframes scaleUp4 {
  20% {
    background-color: #ffff;
    transform: scaleY(1.5);
  }

  40% {
    transform: scaleY(1);
  }
}
